.cardCT {
  background-size: cover;
  background-image: url("/public/microsoft.png");
  width: 850px;
  height: 500px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.caixaMC {
  margin: 50px;
  border-radius: 10px;
  background-color: rgb(249, 250, 252, 0.5);
  position: relative;
  top: 120px;
  left: 300px;
}
.microCheck {
  font-size: 25px;
  font-weight: bold;
}
.microCheck i {
  color: green;
  font-size: 50px;
}
