/* Estilos para telas pequenas (celulares) */
@media (max-width: 600px) {
  .pref {
    flex-direction: column;
  }
  .pref img {
    height: auto;
    max-width: 100%;
    padding-inline: 2.5ren;
  }
}

/* Estilos para telas médias (tablets) */
@media (min-width: 601px) and (max-width: 1024px) {
  .pref {
    flex-direction: column;
  }
  .pref img {
    height: auto;
    max-width: 100%;
    padding-inline: 2.5ren;
  }
}
